<connectionStrings>
 <add name="AdventureWorks2017" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\AdventureWorks2017.mdf;InitialCatalog=DatabaseName;Integrated Security=True;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
 <add name="DataManagement.Properties.Settings.AdventureWorks2017ConnectionString"
  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AdventureWorks2017.mdf;Integrated Security=True;Connect Timeout=30"
  providerName="System.Data.SqlClient" />
</connectionStrings>